<div class="pictureMenuPage" id="lowPricesPage">
	<h1>Affordable <br /><span>- yet -</span><br /> Delightful</h1>
	<img id="affordableMainImage" src="./images/affordable-page/affordable-pleasures.jpg" alt="Ethos builds affordable legal websites without sacrificing quality." />
	<p class="affordableNotice">You can click</p><p class="affordableNotice" id="secondAffordableNotice">on the lamps</p>

<section>
	<a class="lamp" id="Lamp1"></a>	
</section>

<section>	
	<a class="lamp" id="Lamp2"></a>	
</section>

<section>	
	<a class="lamp" id="Lamp3"></a>	
</section>

<section class="lampText"></section>



<div id="affordableBottomList">
	<h3>See Detailed Prices for All Our Services:</h3>
	<ul>
		<a href ="websites-for-law-firms">
		<li id="affordableBuildIcon"><!--Image defined through CSS-->
			<p>Website Construction</p>
		</li></a>
		
		<a href ="web-design-prices">
		<li id="affordableDesignIcon">
			<p>Web Design</p>
		</li></a>
		
		<a href ="optimization-prices">
		<li id="affordablePerformanceIcon">
			<p>Improve Performance</p>
		</li></a>
		
		<a href ="web-promotion-prices">
		<li id="affordableFindIcon">
			<p>Help People Find You</p>
		</li></a>
	</ul>
</div>
