<img src="./images/info-page/pageIconBuild.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1"><span>Build</span> A Legal Website</h1>
<p class="pageP">We have four different pricing packages for you to choose from. If you have special needs that 
these pricing packages don't meet, <b>we're happy to discuss a custom fit</b>.</p>

<h2 class="pageH2">1) Top Quality Website</h2>
<p class="pageP">When nothing but the best will do, this is the option you need.</p>

<p class="pageP">If you select this option, we will go all out to build you something amazing. To start, this package is backed by our 
'<b>gorgeous guarantee</b>' which means that your site will absolutely beautiful when we're done, we guarantee it. But your site won't 
be just beautiful, it will also be highly functional. Here is everything we include with this package:</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: we keep going until we get it right</li>
<li class="pageLI">Custom-made Design that is tailored to the values of your firm</li>
<li class="pageLI">Optimization and Link-building for 3 competitive search keywords and 3 less competitive keywords</li>
<li class="pageLI">The Full Analytics Package</li>
<li class="pageLI">Conversion Testing - eight page variations</li>
<li class="pageLI">Responsive Design, so your site will intelligently adapt to any mobile device or monitor size</li>
</ul>

<h3>Price: 		$2,500</h3>
<br />

<h2 class="pageH2">2) Customized Website</h2>
<p class="pageP">If you want a beautiful site that's built to fit the personality of your firm, then this will be an excellent option for you.
Although it is a step down from the top quality option, the results will still be very impressive and high functioning.</p>

<p class="pageP">Here's everything we include with this package:</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: 50</li>
<li class="pageLI">Custom-made Design that is tailored to the values of your firm</li>
<li class="pageLI">Optimization and Link-building for three less competitive keywords</li>
<li class="pageLI">Conversion Tuning - three page variations</li>
<li class="pageLI">The Full Analytics Package</li>
</ul>

<h3>Price: 		$1,500</h3>
<br />

<h2 class="pageH2">3) Simple Website</h2>
<p class="pageP">This is an excellent option for those who want to position themselves as affordable but high-quality attorneys.</p>

<p class="pageP">The simple website will be clean, straightforward, and appealing. True, it won't have as many bells and whistles. 
But it will fit you, look good, and get the job done.</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: 25</li>
<li class="pageLI">Custom design with limited brand customization</li>
<li class="pageLI">Analytics Setup & Customization</li>
<li class="pageLI">Optimization and Link-building for three less competitive keywords</li>
</ul>

<h3>Price: 		$500</h3>
<br />

<h2 class="pageH2">4) Template Website</h2>
<p class="pageP">If you want affordability, this option cannot be beat.</p>

<p class="pageP">There are thousands of website templates out there. We've selected some of the best for you to choose from. We'll build your site based 
on the template you choose. When we're done, your site will look very nice, but a little generic. Still, if you want to get on the internet very quickly but don't want 
to spend very much money, this is an excellent option.</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: 7</li>
<li class="pageLI">Analytics Setup & Customization included</li>
</ul>

<h3>Price:		$250</h3>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>
-->
</div>
