<img src="./images/info-page/pageIconBuild.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Build a <span>Mobile</span> Website</h1>

<h2 class="pageH2">Responsive Design: the Cheap and Easy Mobile Solution</h2>
<p class="pageP">Most laypeople think they have to build a seperate mobile site if they want a site that will work with phones. This approach makes sense if your site receives 100k+ in mobile 
traffic. Otherwise, it's far more expensive than a better option: Responsive Design.</p>

<p class="pageP">Responsive design allows your site to intelligently adapt based on the device accessing it. If it's a phone, it shrinks. If it's a massive monitor, 
it expands. Best of all, it only requires modifications to your site's stylesheet, not a completely new website.</p>

<h2 class="pageH2">Did You Know this Site is Responsive?</h2>
<p class="pageP">If you shrink your browser Ethos will rearrange itself. It works that way on every page. Of course, you can also make Ethos dance on any mobile devices you have:
tablets, phones, monitors, all shapes and sizes. </p>

<h2 class="pageH2">Quite Possibly Our Best Deal</h2>
<p class="pageP">Responsive design is a new discipline and not many people know how to do it. You have to search hard to find someone who can actually build a 
responsive site. After that, you have to search even more for someone who will charge you a decent price. Our rates are between 1/2 to 1/4 the market rate for a full responsive 
makeover.</p>

<p class="pageP">If you want a firm that can deliver quality at an affordable price, you simply aren't going to find a better option. If you don't believe us, search. We will be here
when you return.</p><!--Discuss why so cheap?-->

<h3 class="pageH3">Reach the Next Generation of Clients Right Now</h3>

<!--TO DO Add a JS CTA function-->
</div>
