<div id="denverPage">
	<h1>Denver Web Design</h1>
	<div class="lightningContainer"> 
		<span class="leftWall"></span>
		<img src="./images/denver-page/denver-colorado-web-design.jpg" />
		<span class="rightWall"></span>
	</div>
	<div class="denverTextContainer">
	<h2>Legal Web Design in Denver Colorado</h2>
	<p>Ethos Web Solutions is located in Denver. If you also live in Denver, we would be happy to meet with you via Skype, phone, or in person, depending on your preference. 
	If you are out of state, we can easily and conveniently meet with you via Skype or phone. Either way, we'll be happy to talk to you whenever you feel it's necessary.</p>
	</div>
</div>

