<div class="footer">
    <div class="footerBar">
        <h3 id="mapH3">Site Map</h3>
        <h3 id="contactH3">Contact Us</h3>
    </div>    
    <div class="footerContent">
    	<div class="contactFormDiv" >
    	  <h3>Send Us A Message</h3>
    	    <form action="" method="post" >
              <input type="text" name="yourName" placeholder=" Enter your name" maxlength="50" class="contactField" id="inputField" />
              <input type="text" name="yourEmail" placeholder=" Enter your email address" maxlength="50" class="contactField" id="inputField" />
              <textarea name="yourMessage" placeholder="Enter your message" class="contactField" id="textField" ></textarea>
              <input type="submit" class="button medium" id="submitButton" value="Submit" />
          </form>
    </div>
  <div id="sitemap">
        <div class="column">
      	    <h3>About Us</h3>
      	    <ul>
      	      <li><a href="the-ethos-people">The People of Ethos</a></li>
      	      <li><a href="professional-web-design-services">Professional Web Design Services</a></li>
      	      <li><a href="the-ethos">The Ethos</a></li>
			  <li><a href="build-a-mobile-website">Build A Mobile Website</a></li>
      	    </ul>	
      	</div>
		<div class="column" id="ourPrices">
			<h3>Prices</h3>
			<ul>
				<li><a href="affordable-legal-websites">Affordable Legal Websites</a></li>
				<li><a href="websites-for-law-firms">Site Building Prices</a></li>
				<li><a href="web-design-prices">Web Design Prices</a></li>
				<li><a href="optimization-prices">Optimization Prices</a></li>
				<li><a href="web-promotion-prices">Web Promotion Prices</a></li>
			</ul>
		</div>
      	<div class="column">
      	  <h3>Services</h3>
      	  <ul>
      	    <li><a href="web-design-for-attorneys">Web Design for Attorneys</a></li>
      	    <li><a href="improve-site-performance">Improve Performance</a></li>
			<li><a href="lawyer-web-marketing">Lawyer Web Marketing</a></li>
			<li><a href="law-firm-website-templates">Law Firm Website Templates</a></li>
      	  </ul>
      	</div>
      </div><!--#sitemap-->
     <div class="clear"></div>
	<ul class="socialLinks"> 
		<a href="https://plus.google.com/b/106934528675345602632/" title="google+" target="_blank"><li id="googleIcon"></li></a>
		<a href="https://twitter.com/EthosWSolutions" title="twitter" target="_blank"><li id="twitterIcon"></li></a>
		<a href="https://www.facebook.com/EthosWebSolutions" title="facebook" target="_blank"><li id="facebookIcon"></li></a>
		<a href="http://www.linkedin.com/company/ethos-web-solutions" title="linkedIn" target="_blank"><li id="linkedinIcon"></li></a>
	</ul>	
	<p class="bottomInfo" id="privacyPolicy"> Ethos Web Solutions, LLC • <a href="privacy-policy">Privacy Policy</a></p>		
	</div>
</div>
</div>
  <script type="text/javascript" src="scripts/jquery.form.js"></script>
  <script type="text/javascript" src="scripts/modernizr.custom.87977.js"></script> 
  <script src="scripts/ethos-utility.js"></script>
</body>
</html>
