<!DOCTYPE HTML>
<html>
<head>
	<link rel="SHORTCUT ICON" href="images/persistent/favicon.ico"/>
	<link type="text/css" rel="stylesheet" href="css/design.css">
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
	<title>[-TITLE-]</title>
	<meta name="description" content="[-DESCRIPTION-]" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3, minimum-scale=0.5" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="scripts/ethos-utility.js"></script>
</head>

<body>
<div id="container">
<div id="topNavBox">	
	<ul class="topUL">
		<a href="/"><li class="topLI" id="miniLI"></li></a>
		<a href="/professional-web-design-services"><li class="topLI" id="LIChoose"><p>Why Choose Us</p></li></a>
		<a href="/the-ethos-people"><li class="topLI" id="LIService"><p>The Ethos Team</p></li></a>
		<a href="/affordable-legal-websites"><li class="topLI" id="LIPricing"><p>Pricing</p></li></a>
		<a href="/blog"><li class="topLI" id="LIBlog"><p>Blog</p></li></a>
		<a href="/contact-us"><li class="topLI" id="LIContact"><p>Contact Us</p></li></a>
	</ul>
</div>
