<!DOCTYPE HTML>
<html>
<head>
	<link rel="SHORTCUT ICON" href="images/persistent/favicon.ico"/>
	<link type="text/css" rel="stylesheet" href="css/design.css">
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
	<title>[-TITLE-]</title>
	<meta name="description" content="[-DESCRIPTION-]" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3, minimum-scale=0.5" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type='text/javascript'>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-46047703-1', 'ethoswebsolutions.com');
ga('send', 'pageview');
	</script>
</head>

<body>
<div id="container">
<div id="topNavBox">	
	<ul class="topUL">
		<a href="/"><li class="topLI" id="miniLI"></li></a>
		<a href="/professional-web-design-services"><li class="topLI" id="LIChoose"><p>Why Choose Us</p></li></a>
		<a href="/the-ethos-people"><li class="topLI" id="LIService"><p>The Ethos Team</p></li></a>
		<a href="/affordable-legal-websites"><li class="topLI" id="LIPricing"><p>Pricing</p></li></a>
		<a href="/blog"><li class="topLI" id="LIBlog"><p>Blog</p></li></a>
		<a href="/contact-us"><li class="topLI" id="LIContact"><p>Contact Us</p></li></a>
	</ul>
</div>
