<img src="./images/info-page/pageIconPerformance.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Improve Site <span>Performance</span></h1>

<h2 class="pageH2">The Road to the Best</h2>
<p class="pageP">Do you want to know who is the absolute best judge of your site? It's not us. Hate to say it, but it's not even you. 
The best judge of your site is <b>your market</b>. So how do we get them to weigh in?</p> 

<p class="pageP">It's possible to create many different versions of your site pages and then test how your market reacts to them. Through this process, 
you can prove which design leads to the best results for conversions, contact attempts, retention, or virtually any other goal you can name. Testing 
is extraordinarily powerful: it takes all the guess work out, and leaves you with pure business results.</p>

<h2 class="pageH2">Extreme Power, Wonderful Results, but there is a Catch...</h2>

<p class="pageP">To have effective testing, you first have to have the requisite traffic. Testing is essentially the
application the scientific method to your website. It's powerful, but you need an appropriate sample size. Fortunately, there 
are ways you can temporarily boost traffic to the right level. Better still, you could invest in decent traffic over the long
term. If you would like to know more about marketing, click here: <a href="lawyer-web-marketing">Lawyer Web Marketing</a>.</p>

<h2 class="pageH2">You Have the Traffic, What Else Do You Need?</h2>

<p class="pageP">First comes analytics, which is easy to set up and free to use. Next comes page construction, 
which itself isn't very hard. Typically, it isn't very time consuming to create modifications of an existing
page. If you want a more radical reconstruction, that will take more time, but single pages are still not
very difficult to build. Thus, testing is surprisingly affordable, and the return on investment can be enormous.</p>

<h3 class="pageH3">Through testing, you can reach online perfection.</h3>

<!--Add in the JS CTA-->

</div>
