<script src="scripts/bjqs-1.3.min.js"></script>
<div id="banner-fade"><!-- Outer Wrapper for the Slider --> 
	<ul class="bjqs"><!-- The Slider -->
		<li>
			<div class="sliderTextContainer">
				<span><h1>Affordable Excellence</h1>
					<p>Ethos specializes in providing excellent legal website design at very low prices. No one else will give you more value.</p> 
				</span>
			</div>
			<div class="sliderImageContainer" id="sliderPanelOne"></div>
		</li>
		<li>
			<div class="sliderTextContainer">
				<span><h1>The Expertise You Need</h1>
					<p>To create a quality legal website, all you need is a few good people. Ethos is run by just three talented partners, which keeps costs low without affecting quality.</p> 
				</span>
			</div>
			<div class="sliderImageContainer" id="sliderPanelTwo"></div>
		</li>
		<li>
			<div class="sliderTextContainer">
				<span><h1>You're Protected by the Ethos</h1>
					<p>We're confident in our abilities, and we back that up by offering you gurantees of quality and care with every project we take.</p>
				</span>
			</div>
			<div class="sliderImageContainer" id="sliderPanelThree"></div>
		</li>
	</ul>
</div>

<ul class="mainNav">
	<h2>What We Offer You</h2>
	<a href="websites-for-law-firms">
	<li class="mainNavBox" id="mainIconBuild">
		<h3>Build A Legal Website</h3>
	</li> </a>

	<a href="denver-web-design">
	<li class="mainNavBox" id="mainIconDesign">
		<h3>Wonderful Web Design</h3>
	</li> </a>

	<a href="professional-web-design-services">
	<li class="mainNavBox" id="mainIconPerformance">
		<h3>Peerless Quality</h3>
	</li> </a>

	<a href="affordable-legal-websites">
	<li class="mainNavBox" id="mainIconFind">
		<h3>Low Prices</h3>
	</li> </a>

</ul>
