<img src="./images/info-page/pageIconBuild.png" class="rightIcon" id="iconEthos" />
<div class="infoPage" id="leftPage">

<h1 class="pageH1">Template Sites for <span>Law Firms</span></h1> 
<p class="pageP">Templates are pre-built site blueprints that make building a site very fast and easy. Templates don't convey as much personality as a custom site, 
but are still an affordable and practical way to get on the internet.</p>

<h1 class="pageH1" id="ethosApproach">The <span>Ethos Approach</span></h1>

<h2 class="pageH2">Choose From Our Catalogue</h2>
<p class="pageP">We combed through the internet and picked out the highest quality templates. We'll offer those to you to choose from.</p>

<h2 class="pageH2">Customize</h2>
<p class="pageP">Next, we'll ask for your selling points, information about your law firm, and your media.</p>

<h2 class="pageH2">Sit Back, Relax</h2>
<p class="pageP">After that, we'll build your site, take care of the hosting, and even set up analytics so you know how you're doing. You 
don't have to do anything except approve our work at the end.</p>

<h2 class="pageH2">Learn More</h2>
<ul class="pageUL">
<li class="pageLI">We Offer <a href="professional-web-design-services">Professional Web Design Services</a></li>
<li class="pageLI">The Same Care You Give Your Clients: <a href="the-ethos">The Ethos</a></li>
<li class="pageLI">Our Full Offerings: <a href="build-a-website">Build A Website</a></li>
</ul>

</div>
