<img src="./images/info-page/pageIconFind.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Help People <span>Find You</span></h1>

<h2 class="pageH2">Unpaid and Paid</h2>
<p class="pageP">There are essentially two different ways to market your law firm: unpaid and paid. 
Unpaid marketing consists of 'Search Engine Optimization,' or simply 'SEO', which is the art of appearing high on search engine results for popular terms.
Paid traffic consist of all forms of online advertising. 
</p> 

<p class="pageP"></p>

<h2>Search Engine Optimization</h2>

<p class="pageP">Search Engine Optimization requires patience, but it can be incredibly valuable. SEO traffic tends to convert better than paid traffic. 
Additionally, it's completely free.</p>

<p class="pageP">SEO requires three things: 1) finding the right keywords; 2) on-page optimization, and; 3) link building. Most of SEO is work-intensive but 
very easy to learn, so there are a number of ways you can save money. We can help train you how to DIY, find a very inexpensive contractor, or we can do it for you. 
However, remember that it's essential to use the right methods for SEO. If you unintentionally use 'black hat' SEO methods, Google may ban your site from its search engine.</p>

<h2>Online Advertising</h2>

<p class="pageP">Targeting is key in online advertising. You can precisely target your audience and their search terms. Then you have to watch to 
see which method is giving you a healthy return on investment. Once you find platforms and terms that are working, you can stick with them for a
steady flow of business. Small advertising experiments are easy and surprisingly cheap. </p>

<p class="pageP">Our role is help advise you about your options and get you setup, so you can start fast and do it right. Because we are only playing an 
advisory role, our fee is quite low.</p>

<h3 class="pageH3">Your first consultation is completely free.</h3>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>
-->
</div>
