<img src="./images/info-page/pageIconBuild.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Conversion <span>Optimization</span></h1>
<p class="pageP">Our rates for conversion testing are <b>unusually cheap</b>. The reason? We love doing it.</p>

<h2 class="pageH2">1) Extensive Testing</h2>
<p class="pageP">If you have a decent amount of traffic and a desire to achieve online perfection, this package will make it happen.</p>

<p class="pageP">We guarantee that we will raise your conversion rates by at least 50%, or your money back. What are conversions? They are the key 
actions you want users to take on site, which will usually mean someone reaching out to you.</p>

<ul class="pageUL">
<li class="pageLI">Estimated design hours: 30</li>
<li class="pageLI">Guaranteed 50% Conversion Increase</li>
<li class="pageLI">Sixteen Page Variations</li>
</ul>

<h3>Price: 		 	$550</h3>
<br />

<h2 class="pageH2">2) Moderate Testing</h2>
<p class="pageP">This is the option that is best-suited to most people. It's the 'just right' amount of testing.</p>

<p class="pageP">We guarantee that we will raise your converion rates by at least 20%, or your money back.</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: 15</li>
<li class="pageLI">Guaranteed 20% Conversion Increase</li>
<li class="pageLI">Eight Page Variations</li>
</ul>

<h3>Price: 			$300</h3>
<br />

<h2 class="pageH2">3) Single Page Testing</h2>
<p class="pageP">If you only have one or two pages that you would like to test, this would be a good option for you.</p>

<ul class="pageUL">
<li class="pageLI">Estimated Design Hours: 7</li>
<li class="pageLI">Guaranteed 10% Conversion Increase</li>
<li class="pageLI">Four Page Variations</li>
</ul>

<h3>Price: 			$175</h3>
<br />

<h2 class="pageH2">4) Analytics Package</h2>
<p class="pageP">If you don't have analytics setup, you should. It's cheap to do and the value is enormous.</p>

<p class="pageP">So what the heck is analytics? It tells you how many people come to your site and what they do once they arrive.
This feedback is essential for figuring out how you're doing and how you can improve.</p>

<h4 class="pageH4">Your Analytics Options:</h4>

<ul class="pageUL">
<li class="pageLI">Full Package - setup, customization, and training: $100</li>
<li class="pageLI">Partial Package - setup and customization: $75</li>
<li class="pageLI">Setup Package - setup: $50</li>
</ul>

<!--<?
CallButton('button contact', 'Sound good? Send us a message!');
?>-->

</div>
