<h1 class="centered" id="servicesH1">Find Out About Our Prices</h1>
<p class="centered" id="pricesDisclaimer">Did you know our prices are about 1/4th the average? That's because decent web design firms charge law firms obscene rates. We offer you the same services, at a sane price.</p>

<ul class="mainNav" id="servicesPageNav">
<a href="build-a-website">
<li class="mainNavBox" id="mainIconBuild">
<h3 class="navH3" id="navH3BAW">Build A Website</h3>
</li>
</a>

<a class="" href="web-design-prices">
<li class="mainNavBox" id="mainIconDesign">
<h3 class="navH3" id="navH3WD">Web Design</h3>
</li>
</a>

<a class="" href="optimization-prices">
<li class="mainNavBox" id="mainIconPerformance">
<h3 class="navH3" id="navH3CO">Improve Performance</h3>
</li>
</a>

<a class="" href="web-promotion-prices">
<li class="mainNavBox" id="mainIconFind">
<h3 class="navH3" id="navH3SEO">Help People Find You</h3>
</li>
</a>

</ul>

<ul class="bottomExplain">

<li class="textColumns"><a class="menuA" href="build-a-website"><h4 class="bottomNavH4">Build A Website</h4></a>
<p class="navP">4 different pricing packages.</br> Price range: $2,500 - $250.</p></li>

<li class="textColumns"><a class="menuA" href="web-design-prices"><h4 class="bottomNavH4">Web Design</h4></a>
<p class="navP">4 different pricing packages.</br> Price range: $1,250 - $350.</p></li>

<li class="textColumns"><a class="menuA" href="optimization-prices"><h4 class="bottomNavH4">Improve</h4></a>
<p class="navP">7 different pricing packages.</br>  Price range: $550 - $50.&nbsp;&nbsp;</p></li>

<li class="textColumns"><a class="menuA" href="web-promotion-prices"><h4 class="bottomNavH4">Get Found</h4></a>
<p class="navP">11 different pricing packages.</br> Price range: $350 - $10.&nbsp;&nbsp;</p></li>

</ul>
