<h1 class="centered" id="servicesH1">What Are You Looking For?</h1>

<ul class="mainNav" id="servicesPageNav">
<a href="build-a-website">
<li class="mainNavBox" id="mainIconBuild">
<h3 class="navH3" id="navH3BAW">Build A Website</h3>
</li>
</a>

<a class="" href="web-design-for-attorneys">
<li class="mainNavBox" id="mainIconDesign">
<h3 class="navH3" id="navH3WD">Web Design</h3>
</li>
</a>

<a class="" href="improve-site-performance">
<li class="mainNavBox" id="mainIconPerformance">
<h3 class="navH3" id="navH3CO">Improve Performance</h3>
</li>
</a>

<a class="" href="lawyer-web-marketing">
<li class="mainNavBox" id="mainIconFind">
<h3 class="navH3" id="navH3SEO">Help People Find You</h3>
</li>
</a>

</ul>

<ul class="bottomExplain">

<li class="textColumns"><a class="menuA" href="build-a-website"><h4 class="bottomNavH4">Build A Website</h4></a><p class="navP">We have many different packages - from top-notch sites to 
extremely affordable templates.</p></li>

<li class="textColumns"><a class="menuA" href="web-design-for-attorneys"><h4 class="bottomNavH4">Web Design</h4></a><p class="navP">Excellent web design helps engage users, inspire trust, 
and is essential for clear communication.</p></li>

<li class="textColumns"><a class="menuA" href="improve-site-performance"><h4 class="bottomNavH4">Improve</h4></a><p class="navP">You may have a site, but it isn't serving your goals. 
Optimizing so visitors will "convert" can change that.</p></li>

<li class="textColumns"><a class="menuA" href="lawyer-web-marketing"><h4 class="bottomNavH4">Get Found</h4></a><p class="navP">Search engine optimization and effective online advertising 
can bring you business.</p></li>

</ul>
