<h1 id="privacyPolicyH1"><b>Privacy Policy</b></h1>

<p>This Privacy Policy is effective as of 11/08/12. </p>

<p>This Privacy Policy describes the practices of Ethos Web Solutions LLC ('Ethos') follows with respect to the collection, maintenance, and use of 
information submitted on masspire.com (the 'Site'). This Privacy Policy applies only to information we collect from this Site, and does not apply 
to any other website or business activity of Masspire. By using our Site, and/or providing information to us, you consent to the collection, maintenance 
and use of this information by us.</p>

<p>If you do not agree to the terms of this Privacy Policy, please do not use the Site and exit immediately. We reserve the right to modify or amend the terms of this Privacy Policy from time to time. Your continued use of the Site following the posting of changes to these terms means that you accept those changes. We will give you notice of the revised Privacy Policy by posting the revised policy on the Site and by revising the 'effective date' set forth above.</p>

<p><b>Use and Disclosure of Information</b></p>

<p>We do not intend to share your information with other parties, unless required by law, for purposes of site analytics, or for advertising through GoogleAdSense.</p>

<p>We will not send you emails through the provided accounts except in the following circumstaces: to respond to inquiries.</p> 

<p><b>Information We Collect</b></p>

<p>We collect and maintain personally identifiable information and automatic information.</p>

<p><b>Personally Identifiable Information</b></p>

<p>We do not collect personally identifiable information except through the contact form.</p>

<p><b>Automatic Information and Cookies</b></p>

<p>'Automatic information' is information automatically collected whenever you visit our site. For example, automatic information includes information collected by our web server (which may be hosted by a third party) that your web browser makes available whenever you visit our Site, such as your browser type and capabilities, network properties, the site that you visited before viewing our Site, content viewed on the Site, and your geographic location. We currently use, or may use, such information in various ways:</p>

<p>Aggregated data: We maintain automatic information in aggregated form, not associated with your IP address or personally identifiable information. </p>

<p>We do not and cannot use cookies or IP address tracking to retrieve personally identifiable information from your computer.</p>

<p>This Privacy Policy does not apply to any information you choose to make public. </p>

<p><b>Children</b></p>

<p>Some of the material on this Site is for mature audiences, and parents and guardians should take responsibility for monitoring their children's use of the Site. Children under the age of 16 should not use this Site. We do not intentionally collect personally identifiable information from users of the Site who are under the age of sixteen. </p>

<p><b>Links to Other Sites</b></p>

<p>This Site provides links to websites maintained by other organizations. Ethos provides these links as a convenience to users, 
but it does not operate, control or endorse such sites. Ethos also disclaims any responsibility for the information on those sites 
and any products or services offered on such sites. Please review the privacy policies of these sites. Ethos is not responsible for 
any actions or policies of such third parties, and does not make any warranties or representations that any linked sites (or even 
this Site) will function without error or interruption, that defects will be corrected, or that the sites and their servers are 
free of viruses and other problems that can harm your computer. Ethos disclaims any responsibility for transactions conducted on 
those sites and cannot vouch for the security of the information submitted in those transactions. </p>

<p><b>E-Commerce and Our Secure Server</b></p>

<p>We use reasonable efforts to protect your personally identifiable information from unauthorized use or disclosure. Unfortunately, information transmitted on the Internet and/or stored on systems attached to the Internet are not 100% secure. As a result, we do not ensure, warrant or guarantee the security or integrity of such information. We will not be responsible for disclosure of any information due to errors in transmission or the unauthorized acts of third parties.</p>
