<div id="qualityPage">
	<h1>Unrivaled                     <span>Quality</span></h1><!--The odd spacing is intentional. Set to white-space: preserve in the CSS file-->
	<section id="qualityLeftText">
		<h3>Guaranteed Excellence</h3>
		<p>Ethos doesn't stop until your website is just right.</p>
		<p>In fact, we have enough confidence in our abilities that we offer you guarantees of quality and care
		in every job we take.</p> 
		<p>Not all developers can say the same. Web design isn't regulated by a professional code of conduct, so it's a bit of a jungle out there. But you won't have to worry if you choose Ethos.</p>
		<p>Learn about <a href="the-ethos">Our Guarantees</a>.</p>
	</section>

	<section id="qualityRightText">
		<h3>Skilled Craftsmen</h3>
		<p>The Ethos partners are rich in the skills you need. We're highly skilled in SEO, design, conversion optimization, analytics, and front-end programming. </p>
		<p>We can craft a solution to fit your needs; from a custom site, to a CMS, to a template.</p> 
		<p>We even have a personal understanding of the legal profession. One of our founders is a licensed attorney.</p> 
		<p>Meet <a href="the-ethos-people">the People Behind Ethos</a>.</p>
	</section>

	<aside><!--This tag contains the pocketwatch, which is set in ethos-utility.js--></aside>

<!--
<?
CallButton('button contact professionalCallButton', 'Get Your Quote Today');
?>
-->
</div>
