<img src="./images/info-page/pageIconEthos.png" class="rightIcon" id="iconEthos" />
<div class="infoPage" id="leftPage">
<h1 class="pageH1">The People Behind <span>Ethos</span></h1>

<h2 class="pageH2">Brian Case</h2>
<p class="pageP">Brian is a licensed attorney turned web designer. Brian knows everything from user experience, copy writing, analytics, 
SEO, web design, responsive design, to conversion testing. His legal training allows him to intuitively understand the needs of attorneys and law firms.
</p>

<p class="pageP">Brian handles client contact and front-end design. In his 'free time' he works on his other startup: <a href="http://www.masspire.com">
Masspire</a>, which he also designed.</p>

<h2 class="pageH2">Andre Halabi</h2>
<p class="pageP">Andre is a capable Javascript and PHP programmer and a proud graduate of the University of Oregon.</p>

<p class="pageP">Andre handles SEO and back-end functionality. Andre also contributed to Masspire, building up much of its behind the scenes mechanics.</p>

<h2 class="pageH2">John Murray</h2>
<p class="pageP">When he's not working at his other web development business or his job as a senior developer at a Fortune 200 company, John is ready
to whip up anything you need. John is a master of no less than six different programming languages plus formidable server skills.</p>

<p class="pageP">If you can think it, John can build it.</p>

<h3 class="pageH3">Your first consultation is completely free.</h3>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>-->
</div>
