<img src="./images/info-page/pageIconEthos.png" class="rightIcon" id="iconEthos" />
<div class="infoPage" id="leftPage">
<h1 class="pageH1">The Ethos: Our <span>Guarantees to You</span></h1>

<p class="pageP">Any project with Ethos comes with guarantees of quality and care. If you hire us, you can rest assured that you will be
in Ethical hands.</p>

<h2 class="pageH2">1) Zeal</h2>
<ul class="pageUL">
<li class="pageLI">You Will Receive High Quality Services
</br>We will work on your project as if it was our own. Some of our services trade top-quality for more affordability, but within the context of whatever 
you choose, we will do our absolute best.</li>
</ul>

<h2 class="pageH2">2) Candor</h2>
<ul class="pageUL">
<li class="pageLI">You Won't Have Unpleasant Surprises
</br>Different solutions have different strengths and weaknesses. We will use commonly accepted best practices on your site, but we will still 
tell you what we're doing and what it means for you.</li> 
<li class="pageLI">You Will Get the Full Benefit of Our Expertise 
</br>There is a running complaint among designers that clients ask them to do work that looks horrible. Frankly, we don't understand it. It might be annoying at 
times, but if you hire us we will give you counsel on how to create a beautiful site. That includes warnings if you want to do something contrary to web design
best practices.</li>
</ul>

<h2 class="pageH2">3) Care</h2>
<ul class="pageUL">
<li class="pageLI">You Will Only Get What You Need 
</br>A key part of our service guarantee is honest counsel. A basic part of that is not trying to sell you
on services you don't really need, which is a vice of some agencies. We will recommend what you need and warn against what you don't.</li>
<li class="pageLI">Control Your Experience
</br>Many of our services will often demand a custom experience, or you may even want to learn how to do it yourself. This can save you 
money and improve your business, and we're only too happy to help.</li>

</ul>

<p class="pageP">Note: many of our projects come with more specific guarantees. If you want to find out what they are, 
check them out: <a href="our-services">Our Services</a>.</p>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>
-->
</div>
