<img src="./images/info-page/pageIconFind.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Online <span>Promotion</span></h1>
<!--Quote Prices for Multiplicity?-->
<h2 class="pageH2">Search Engine Optimization</h2>

<p class="pageP">SEO provides a high return on investment, and we strongly recommend it.</p>

<p class="pageP">All SEO campaigns take time. If someone ever tells you they'll get you a top rank for a competitive term within a week, 
<b>run</b>. They might deliver, but on week 2 Google will ban your site from its search engine.</p>

<ul class="pageUL">
<li class="pageLI">Keyword Research: $70 - <span>strongly recommended</span></li>
<li class="pageLI">Uncompetitive Keywords: $350 / per term</li>
<li class="pageLI">Easy Keywords: $200 / per term</li>
</ul>

<h4 class="pageh4">Why no competitive keywords?</h4>
<p class="pageP">If you want a top ranking for something like "lawyer" that would be beyond our abilities, and would require a very large budget. 
If you want to rank for competitive keywords you may be better served by another firm. Although when it comes to SEO, we recommend
great care in who you select.</p>

<br />

<h2 class="pageH2">Online Marketing Campaigns</h2>

<p class="pageP">We are happy to help facilitate your marketing campaigns at a very low cost.</p>

<p class="pageP">Through small experiments, you can find an online marketing method that will provide a healthy return on investment. 
We can advise you on your options, and help ensure effective implementation.</p>

<ul class="pageUL">
<li class="pageLI">Counsel on Best Practices: $35 / hour</li>
<li class="pageLI">Customization: $25</li>
<li class="pageLI">Setup: $25</li>
</ul>

<h2 class="pageH2">Content Creation</h2>

<p class="pageP">Making Content about your area of expertise is good for your business on many levels.</p>

<p class="pageP">First, it brings in traffic through SEO. Second, it improves your online credibility and profile. Third, 
it leads to offline opportunities.</p>

<p class="pageP">We actually recommend that you make pages yourself, but that's much easier than you might think. We're happy to 
give you some affordable training that will teach you some of the fundamentals of SEO optimization, online copywriting, and page creation.
After that, you should be ready to start growing your business on your own. If you're really not interested in that, we can always do it for you.</p>

<ul class="pageUL">
<li class="pageLI">Optimizing Your Content: $10</li>
<li class="pageLI">Best Practices Training: $50</li>
<li class="pageLI">Landing Page Creation: $50</li>
<li class="pageLI">Content Page Creation: $75</li>
</ul>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>
-->
</div>
