<img src="./images/info-page/pageIconDesign.png" class="leftIcon" id="iconSingleLeft" />
<div class="infoPage" id="rightPage">
<h1 class="pageH1">Web Design <span>for Attorneys</span></h1>

<h2 class="pageH2">What High Quality Web Design Can Do For You</h2>
<p class="pageP">Your website is like your office: it communicates who you are.</p>

<p class="pageP">Quality web design helps visitors intuitively understand the value you offer, because it 
matchs your law firm and its values.</p> 

<p class="pageP">Quality web design will also establish your credibility. Every firm offers a 
different set of selling points. However, if your website doesn't look the part, potential clients simply 
won't trust you.</p>

<p class="pageP">Finally, did you know that users have a harder 
time figuring out technology in times of stress? It's true. But quality web design soothes with simplicity. 
When they come to your site, stressed at the legal problems they are facing, they will know they have found 
a solution.</p>

<h2 class="pageH2">Our Solutions For You</h2>
<p class="pageP">Once we get a sense for your firm's desired 'personality,' we can design a site to fit you 
like a glove. Different goals call for different solutions, but thankfully, we have a wide array of options.</p>
<h3 class="pageH3">Regardless of your situation, we can help you.</h3>
<!--
<?
CallButton('button contact', 'Sound good? Send us a message!');
?>
-->
</div>
