<div class="pictureMenuPage" id="siteBuildingPage">

<div id="siteBuildingMainPic"><img src="./images/legalwebsite-page/custom-made-legal-websites.jpg" alt="Ethos makes high quality websites custom tailored to your particular needs." /></div>
<h1>Legal Websites</br> Tailored to</br> Your Needs <span id="siteBuildingInscription">What sort of website are you interested in?</span></h1>
<section>
<a class="ties" id="Tie3"><h3>Amazing</h3></a>
</section>

<section>
<a class="ties" id="Tie2"><h3>Custom</h3></a>
</section>

<section>
<a class="ties" id="Tie1"><h3>Simple</h3></a>
</section>

<div id="siteBuildingTextContainer">
<p>Click on one of the ties to learn more about your options.</p>
<!--This div handles the dynamic text; done through jQuery-->
</div>
<!--
<?
CallButton('button contact buildWebsiteCallButton', 'Send an Inquiry');
?>
-->
</div>
